@charset "utf-8";
/* 条件排序 样式  (默认、人气、时间、单价) */
#condition-sort{width:280px; height:24px;  float:left; font:14px "黑体";}
#condition-sort li div{width:68px; height:20px; padding-top:4px; border-style:solid; border-width:1px; border-color:black; float:left;}
#condition-default{background:#61AD02; text-align:center;}
#condition{ background:url(../Img/sort.gif)}
#condition span{display:block; margin-left:12px;}
#condition-num{margin-left:300px; padding-top:4px; font:16px "黑体"}

/* 房源列表页样式 */
a{text-decoration:none; color:black;}
.listpage-house{ clear:both; width:970px; margin:0 auto; display:block;}
.listpage-house li{float:left; }
.listpage-house li div{width:323px; height:320px; border-style:none none solid none; border-width:1px; border-color:grey;}
.listpage-house li div img{width:300px; height:168px; display:block; margin:20px 0 0 10px;}
.listpage-house li div span{display:block; margin-left:25px;}

/* 新闻列表页 CSS样式 */


.news-content {height:1000px; width:1000px; margin:0 auto; padding:0;}
.news-list-left {width:260px; height:900px; display:inline; float:left; border-style:none solid none none; border-color:green;}
.news-list-name{width:260px; height:50px; margin:5px auto 10px; text-align:center;}
.news-list-name a{font-size:26px; font-family:"黑体"; font-weight:bold; color:#000; line-height:20px;}
.news-list-name span{font-size:17px; font-family:"微软雅黑"; color:#999; font-weight:normal;}
.news-list-name a:hover{text-decoration:none;}

/*新闻列表页list1*/
/*
.news-list-title p{width:261px; height:30px; margin:5 auto; border-bottom:2px green solid;}
.news-list-title p a{display:block; margin:2px 0 0 100px; font-size:19px; font-family:"微软雅黑"; color:#333;}
.news-list-title p a:hover{text-decoration:none; color:red;}
*/

/*新闻列表页list2*/
.news-list-title p{width:261px; height:30px; margin:5 auto; border-bottom:2px green solid; border-top:2px green solid; border-left:2px green solid; background:#fff;}
.news-list-title p a{display:block; margin:2px 0 0 100px; font-size:19px; font-family:"微软雅黑"; color:#333;}
.news-list-title p a:hover{text-decoration:none; color:red;}

.news-content-list{width:250px; height:35px; margin:30px 0 15px 0; background:green;}
.news-content-list a{display:block; padding:4px 0 0 20px; font-size:18px; font-family:"微软雅黑"; color:#fff;}
.news-content-list a:hover{text-decoration:none;}
/*.news-list-left li{margin:20px 0 0 20px;}*/


.news-list-right{ width:660px; height:900px; float:left; margin-left:40px;}
.news-list-top{height:30px; border-style:none none solid none; border-color:green; border-width:5px; margin-top:20px;}
.news-list-top span{display:block; float:left; margin-left:20px; font-size:26px; font-family:"黑体"; font-weight:bold; color:#c11f08; line-height:20px;}

.news--place{float:right; margin-right:20px; position:relative; top:5px;}
.news--place a{color:#666; font-size:14px; letter-spacing:1px;}

/*新闻列表页内容*/
.news-list-content{margin-top:30px; width:660px;}
.news-list-show{width:300px; height:220px; border-radius:5px; border-style:solid; border-color:#999; border-width:1px; float:left; margin:0px 13px 20px 13px; font-size:14px; font-family:"微软雅黑"; line-height:25px;}
.news-list-show img{width:280px; margin:10px;}
.news-list-word{width:280px; height:50px; display:block; margin-left:10px;}
.news-list-word a{float:right; color:gray;}
.news-list-word a:hover{color:blue;}

/*新闻详情页内容*/
.house-case-title span{font-size:28px; font-family:"微软雅黑"; display:block; margin-left:20px; position:relative; bottom:15px; letter-spacing:1px;}
.news-list-detail{margin-top:30px; width:660px;}
.news-detail-show{width:660px; height:270px; float:left; margin:0 0 20px 10px;}
.news-detail-show img{margin-bottom:20px;}
.news-detail-show p{font-size:18px; color:#000; font-family:"微软雅黑"; font-weight:bold; letter-spacing:1px;}
.news-list-detail span{font-size:14px; font-family:"微软雅黑"; line-height:25px; display:block; margin-left:10px; text-indent:2em;}

/*问答首页*/
.news-question-index{margin:30px 10px 0 10px; width:640px; font-family:"微软雅黑"; font-size:15px;}
.news-question-index a{text-indent:2em; color:#c11f08; line-height:36px;}
.news-question-index a:hover{text-decoration:none;}
.news-question-answer a{color:#434343; text-indent:2em; letter-spacing:1px; line-height:30px;}

/*问答详情页*/
.news-question-detail{margin:30px 10px 0 10px; width:640px; font-family:"微软雅黑";}
.news-question-detail a{font-size:15px; line-height:24px; display:block; text-indent:2em; color:#434343; letter-spacing:1px;}
.news-question-detail a:hover{text-decoration:none;}
.news-question-detail span{font-size:20px; line-height:30px; display:block; color:#c11f08; text-align:center;}

#listpage{height:35px; width:660px; border:1px #999 solid; clear:both; text-align:center; position:relative; top:30px;}
#listpage span{ font-size:16px; font-family:"微软雅黑"; color:#000; position:relative; top:5px;}
/*分页*/
.paging{position:relation; margin-top:1040px; text-align:center;}