@CHARSET "UTF-8";

BODY {
	font-family: Microsoft Yahei;
}

.tools{
	width: 100%;
	height: 34px;
	margin: 0 auto;
	background-color: #f9f9f9;
}

.logo{
	float: left;
}

.form-search{
	border: 2px solid #61AD02; 
	width: 450px; 
	padding: 12px 12px 0 12px;
}

#keyword {
	border: solid 1px green;
	width: 350px;
	height: 30px;
}

.list-banner{
	width: 100%;
	height: 34px;
	background: url(../images/nav2.jpg) repeat-x;
}

a{text-decoration:none; color:black;}

.list-banner span{
	font-size:16px; 
	color:#FFF; 
	display:block; 
	margin:8px 0 0 10px;
}

.list-sell{
	width:959px; height:600px;
	text-align:center; 
	background:#fff; 
	-webkit-box-shadow:#CECECE 0px 0px 3px; 
	-moz-box-shadow:#CECECE 0px 0px 3px; 
	box-shadow:#CECECE 0px 0px 3px; 
	border-radius:5px;
}

.list-sell li{
	float:left; 
	margin:20px 0 0 35px;
}

.list-sell li span{
	font-size:13px; 
	display:block; 
	margin-top:10px;
}

.pre-price{
	text-decoration:line-through;
}

.bookshow{
	width:270px; 
	height:320px; 
	margin:0; 
	display:inline; 
	float:left;
}

.show_slide{
	width:270px; 
	height:250px; 
	position:relative; 
	overflow:hidden;
}

.show_slide ul{
	width:1960px; 
	height:250px; 
	position:absolute; 
	top:0; left:0;
}

.show_slide li{
	float:left; 
	width:270px; 
	height:100%; 
	position:relative;
}

.show_paging li{
	float:left; 
	width:63px; 
	height:65px; 
	margin:5px 0 0 4px; 
	position:relative; 
	left:-1px
}

.show_paging li.active img{
	border:1px red solid;
}

.news-list{
	padding:27px; 
	height:220px; 
	background:#fff; 
	-webkit-box-shadow:#CECECE 0px 0px 3px; 
	-moz-box-shadow:#CECECE 0px 0px 3px; 
	box-shadow:#CECECE 0px 0px 3px; 
	border-radius:5px;
}
.news-list img { display:inline; float:left; }
.news-list li{ line-height:27px; position:relative; bottom:12px; }
.news-list li img{margin-left:30px; position:relative; top:10px}
.news-list li span{ margin-left: 10px }
.news-list li a:hover{text-decoration: none; color: red;}
.news-list li span:hover{text-decoration: none; color: red;}

ul{list-style-type:none; display:inline;}

.foot-nav{
	width:100%; 
	height:24px; 
	background:#ccc; 
	font-size:15px; 
	color:#000;
}

.links{
	height:45px; 
	width:97%; 
	padding:10px 15px 15px 15px; 
	margin-bottom:20px; 
	-webkit-box-shadow:#CECECE 0px 0px 3px; 
	-moz-box-shadow:#CECECE 0px 0px 3px; 
	box-shadow:#CECECE 0px 0px 3px; 
	border-radius:5px;
}

.links li{
	float:left; 
	margin-right:10px; 
	line-height:30px; 
	font-size:14px;
}

/* 条件排序 样式  */
#condition-sort{width:300px; height:25px; font:14px "微软雅黑";position:relative;top:26px;}
#condition-sort li div{width:68px; padding-top:1px; margin-right:5px; float:left;}

.condition{width:68px; height:22px; background:#FFF; border:1px green solid; text-align:center;}
.condition-default{width:68px; height:22px; background:green; text-align:center; color:#fff; border:1px #060 solid;}
.condition span{display:block;}

#condition-num{margin-left:300px; padding-top:2px; font:15px "微软雅黑";}

/* 分类查列表 */

.listpage-house{clear:both;height:1040px; width:970px; margin:10px auto; display:block;}
.listpage-house li{float:left;}
.listpage-house li div{width:323px; height:320px; border-bottom:1px #ccc solid;}
.listpage-house li div img{width:300px; height:168px; display:block; margin:23px 0 0 10px;}
.listpage-house li div span{display:block; margin-left:10px; font-family:"微软雅黑";}
.listpage-house-name{font-size:16px; font-weight:bold; color:#000; letter-spacing:1px; position:relative; bottom:8px;}
.listpage-house-details{font-size:14px; color:#434343; letter-spacing:1px; line-height:24px; position:relative;}

